
.main-head {
	margin: 0 auto;
	width: $mobile-width;
	border: 1px solid blue;
}

.main-head__menu {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid red;
	position: relative;
	// justify-content: space-around;
}

@media (min-width: $tablet-width) {
	.main-head {
		width: $tablet-width;
	}
}

@media (min-width: $desktop-width) {
	.main-head {
		width: $desktop-width;
	}
}